[user]
	name = Niclas Roßberger
	email = niclas@nidomiro.de

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar %C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	graph = log --graph --decorate '--pretty=format:%C(auto)%h%d - %C(dim cyan)(%ar)%C(reset) %s %C(dim magenta)(%an)%Creset'
	g = log --graph --decorate '--pretty=format:%C(auto)%h%d - %C(dim cyan)(%ar)%C(reset) %s %C(dim magenta)(%an)%Creset' --all
	co = checkout
	me = merge
	# more safe force push => forcepush only if no changes are made in the remote
	fpush = push --force-with-lease

	spull = "pull --autostash"

	wt = worktree
	cowt = "!git-checkout-worktree"
	clonewt = "!git-clone-worktree"

[core]
	commentChar = "#"
	commentString = "#"
	autoclrf = input
	excludesfile = ~/.gitignore
	editor = vim

[pull]
	rebase = true
[commit]
	gpgsign = false
[tag]
	gpgSign = false
[init]
	defaultBranch = main
[rerere]
	# record how I resolved mergeconflicts and automatically reapply them
	enabled = true
	# automatically stage those resolutions
	autoUpdate = true
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true

[worktree]
	useRelativePaths = true

[includeIf "gitdir:/"]
    path = ~/.gitconfig.gpgsign
[rebase]
	updateRefs = true
